@model IEnumerable<EStore.Models.Product>
@using EStore.SharedClasses;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pagination pager = new Pagination();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
        pager.Parameters = ViewBag.ParametersDictionary;
    }

    //this page is for customers
}

<h1>Products</h1>

<div class="container">

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                    @ViewData["CurrSort"]
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-CategoryId="@ViewData["CategoryId"]" asp-route-sortOrder="NameAcending">Name: A-Z</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-CategoryId="@ViewData["CategoryId"]" asp-route-sortOrder="NameDecending">Name: Z-A</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-CategoryId="@ViewData["CategoryId"]" asp-route-sortOrder="PriceAcending">Price: Low-High</a>
                    <a class="dropdown-item" asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-CategoryId="@ViewData["CategoryId"]" asp-route-sortOrder="PriceDecending">Price: High-Low</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                        <input type="submit" value="Search" class="btn btn-primary" />
                        <input type="hidden" name="CategoryId" value="@ViewData["CategoryId"]" />
                    </p>
                </div>
            </form>
        </div>
    </div>

        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-3 border-secondary" style="width: 18rem;">
                        @foreach (var pic in product.ImagesPaths)
                        {

                            <img class="card-img-top" src="~/@pic.Path" alt="Card image cap" width="250" height="250">

                        }
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@product.Price BD</h6>
                        <p class="card-text">@product.Description.</p>
                        <button class="btn btn-primary" onclick="AddToCart(@product.ProductId)">Add To Cart</button>
                        <a asp-controller="Products" asp-action="ProductPage" asp-route-name="@product.Name" class="btn btn-primary">View</a>
                        <div id="Success" class="alert alert-success" role="alert" style="display: none">
                            @product.Name Was Added To Cart!
                        </div>
                        <div id="Fail" class="alert alert-danger" role="alert" style="display: none">
                            Unable To Add @product.Name To Cart!
                        </div>
                    </div>
                    </div>
                </div>
            }

        </div>
        <partial name="_Pager" model="@pager" />
    </div>
